@charset "UTF-8";
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 1728px;
}

body {
  color: #07083C;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

img {
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > .page {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  position: relative;
  height: 100%;
  max-width: 87.5rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-big] {
  position: relative;
  height: 100%;
  max-width: 108rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=ibg] {
  position: relative;
}
[class*=ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=ibg-contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.darken::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.locked {
  overflow: hidden;
}

.burger.hidden {
  display: none;
}

[class*=__bg] {
  width: 2400px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.about-us, .cases, .services {
  margin: 9.375rem 0 0 0;
  padding: 0 0 1.875rem 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  width: 13.125rem;
  height: 4.5rem;
  color: #fff;
  background-color: #7074F9;
  transition: box-shadow 0.5s, background-color 0.5s;
}
.button:hover {
  box-shadow: inset 11em 0 0 0 #9A9DFF;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.tag_small {
  padding: 1rem;
  border-radius: 2rem;
}
.tag_small:not(:last-child) {
  margin-right: 0.5rem;
}
.tag_small:nth-child(3n+1) {
  background-color: #FF7974;
}
.tag_small:nth-child(3n+2) {
  background-color: #7074F9;
}
.tag_small:nth-child(3n+3) {
  background-color: #9A9DFF;
}
.tag_big {
  border-radius: 3.5rem;
  font-size: 2.5rem;
}
.tag_big:nth-child(3n+1) {
  background-color: #FF7974;
}
.tag_big:nth-child(3n+2) {
  background-color: #7074F9;
}
.tag_big:nth-child(3n+3) {
  background-color: #9A9DFF;
}

.accent {
  transition: color 0.5s;
}

.arrow-link {
  position: absolute;
  transition: left 0.3s ease 0s;
  left: 0;
  bottom: -1.125rem;
  width: 100%;
  pointer-events: none;
}
.arrow-link:before {
  content: "";
  width: 100%;
  display: block;
  height: 0.125rem;
  background-color: rgba(141, 141, 168, 0.3);
  transition: background-color 0.3s, opacity 0.3s;
}
.arrow-link:after {
  content: "";
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid;
  border-right: 0.125rem solid;
  border-color: rgba(141, 141, 168, 0.3);
  transform: rotate(45deg);
  opacity: 0;
  transition: border-color 0.3s, opacity 0.3s;
  position: absolute;
  right: 0;
  top: -0.25rem;
}

.text {
  font-size: 1.625rem;
  line-height: 1.75em;
  font-weight: 400;
}

.title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.75em;
  margin-bottom: 4rem;
}

.main-thing {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.1666666667;
}

.benefit__icon {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.benefit:nth-child(3n+1) .benefit__icon {
  background-color: #7074F9;
}
.benefit:nth-child(3n+2) .benefit__icon {
  background-color: #FF7974;
}
.benefit:nth-child(3n+3) .benefit__icon {
  background-color: #9A9DFF;
}

.swipe-link {
  padding: 0.625rem 0;
  overflow: hidden;
  position: relative;
}
.swipe-link__orig {
  position: relative;
  transform: translateY(0);
}
.swipe-link__fake {
  position: absolute;
  left: 0;
  transform: translateY(100%);
  color: #7074F9;
}
.swipe-link div {
  display: block;
  transition: transform 0.3s ease 0s;
}
.swipe-link:hover .swipe-link__orig, .swipe-link.active .swipe-link__orig {
  transform: translateY(-200%);
}
.swipe-link:hover .swipe-link__fake, .swipe-link.active .swipe-link__fake {
  transform: translateY(-100%);
}

.logo__intersection {
  fill: #7074F9;
}
.logo__letter_1 {
  transition: fill 0.2s;
}
.logo__letter_2 {
  transition: fill 0.4s;
}
.logo__letter_3 {
  transition: fill 0.6s;
}
.logo__letter_4 {
  transition: fill 0.8s;
}
.logo__first-shape {
  fill: #FF8080;
  transition: fill 0.5s;
}
.logo__second-shape {
  fill: #9A9DFF;
  transition: fill 0.7s;
}

.burger {
  position: relative;
  z-index: 10;
}
.burger::before, .burger::after {
  content: "";
  display: block;
  width: 1.875rem;
  height: 0.125rem;
  background-color: #07083C;
  position: relative;
  transition: all 0.2s ease;
}
.burger::before {
  margin-bottom: 0.5rem;
}
.burger.active::before {
  top: 0.5em;
  transform: rotate(45deg);
}
.burger.active::after {
  bottom: 0.5em;
  transform: rotate(-45deg);
}

.menu[data-burgered] {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(-100%);
  transition: transform 0.5s;
}
.menu[data-burgered].active {
  transform: translate(0%);
}

.header {
  z-index: 4;
  position: absolute;
  width: 100%;
  font-weight: 500;
  font-size: 1.5rem;
  transition: transform 0.5s ease 0s;
}
.header__color {
  transition: opacity 0.5s ease 0s;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.header__color-light, .header__color-dark {
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease 0s;
  width: 100%;
  height: 100%;
}
.header__color-light {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7) 0%, #fff 100%);
}
.header__color-dark {
  background: linear-gradient(0deg, rgba(7, 8, 60, 0.7) 0%, #07083C 100%);
}
.header__body {
  transition: all 0.5s ease 0s;
  padding: 3.75rem 0;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-right: 7.5rem;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__link:not(:last-child) {
  margin-right: 4.5rem;
}
.header__options {
  display: flex;
  align-items: center;
}
.header.fixed {
  position: fixed;
}
.header.fixed .header__body {
  padding: 1.875rem 0;
}
.header.fixed .header__color {
  opacity: 1;
}
.header.hidden {
  transform: translateY(-100%);
}

.intro {
  position: relative;
  height: 100vh;
}
.intro__bg > * {
  transition: opacity 0.5s;
}
.intro__container {
  height: 100%;
}
.intro__body {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
  grid-template-rows: repeat(3, 1fr);
  align-items: end;
}
.intro__blobs-light, .intro__blobs-dark {
  transition: opacity 0.3s ease 0s;
  position: absolute;
  left: 50%;
  width: 138.75rem;
  transform: translateX(-50%);
}
.intro__blobs-light img, .intro__blobs-dark img {
  width: 100%;
}
.intro__blobs-dark {
  width: 168.75rem;
}
.intro__star {
  position: absolute;
  right: 16%;
  bottom: 0;
  height: 54.375rem;
}
.intro__star svg {
  height: 100%;
}
.intro__star path {
  fill: #fff;
  opacity: 0.05;
}
.intro__mascot {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 68.75rem;
}
.intro__mascot img {
  width: 100%;
}
.intro__main-thing {
  font-size: 8rem;
  line-height: 1em;
  font-weight: 600;
  -ms-grid-row: 2;
  grid-row: 2;
}
.intro__links {
  -ms-grid-row: 3;
  grid-row: 3;
  display: flex;
  font-size: 1.5rem;
  margin-bottom: 3.625rem;
  color: #8D8DA8;
  line-height: 0.66em;
}
.intro__link {
  position: relative;
}
.intro__link:not(:last-child) {
  margin-right: 4rem;
}
.intro__link:hover .intro__link-arrow {
  left: 0.625rem;
}
.intro__link:hover .intro__link-arrow:before {
  background-color: #7074F9;
}
.intro__link:hover .intro__link-arrow:after {
  opacity: 1;
  border-color: #7074F9;
}
.about-us__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
.about-us__text {
  padding-left: 7.5rem;
}
.about-us__benefits {
  margin-top: 9.375rem;
  -ms-grid-column-span: 2;
  grid-column: span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.cases__body {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.case {
  border-radius: 1.125rem;
  transition: all 0.3s ease 0s;
}
.case__image {
  border-radius: 1.125rem;
  overflow: hidden;
  height: 37.5rem;
}
.case__image img {
  width: 100%;
  height: 100%;
}
.case__info {
  padding: 2.5rem;
}
.case__tags {
  display: flex;
}
.case__title {
  font-size: 2.5rem;
  margin: 2.25rem 0 1.5rem;
  line-height: 1.4;
}
.case__link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #8D8DA8;
}
.case .arrow-link {
  position: relative;
  max-width: 3.375rem;
  top: 0;
  left: 0;
}
.case .arrow-link:before {
  opacity: 0;
}
.case .arrow-link:after {
  opacity: 0;
}
.case:hover {
  box-shadow: 0px 10px 60px 12px rgba(0, 0, 0, 0.1);
}
.case:hover .case__link {
  color: #7074F9;
}
.case:hover .arrow-link {
  left: 1.5rem;
}
.case:hover .arrow-link:before {
  opacity: 1;
  background-color: #7074F9;
}
.case:hover .arrow-link:after {
  opacity: 1;
  border-color: #7074F9;
}

.services {
  padding-bottom: 10rem;
  position: relative;
}
.services__blobs-light, .services__blobs-dark {
  transition: opacity 0.3s ease 0s;
  position: absolute;
  left: 50%;
  width: 187.5rem;
  top: -43.75rem;
  transform: translateX(-50%);
}
.services__blobs-light img, .services__blobs-dark img {
  width: 100%;
}
.services__tags {
  display: flex;
  justify-content: end;
  margin-left: auto;
  --fgp-gap-container: calc(var(--fgp-gap-parent, 0px) - 1rem) !important;
  --fgp-gap: var(--fgp-gap-container);
  margin-top: var(--fgp-gap);
  margin-right: var(--fgp-gap);
}
.services__tags:not(:last-child) {
  margin-bottom: 1rem;
}
.services__tag {
  flex-grow: 0;
  --fgp-gap-parent: 1rem !important;
  --fgp-gap-item: 1rem !important;
  --fgp-gap: var(--fgp-gap-item) !important;
  margin-top: var(--fgp-gap);
  margin-right: var(--fgp-gap);
}
.services__tag a {
  padding: 2.5rem;
  border-radius: 3.5rem;
  display: flex;
  align-items: center;
}
.services__tag:hover .arrow-link {
  margin-left: 0.625rem;
  width: 2.3125rem;
}
.services__tag:hover .arrow-link:after {
  opacity: 1;
}
.services .arrow-link {
  transition: all 0.4s ease 0s;
  position: relative;
  width: 0rem;
  top: 0;
  left: 0;
}
.services .arrow-link:before {
  height: 0.1875rem;
  background-color: #fff;
}
.services .arrow-link:after {
  opacity: 0;
  border-width: 0.1875rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border-color: #fff;
  top: -0.375rem;
}

.footer {
  transition: background-color 0.5s ease 0s;
  position: relative;
  color: #fff;
}
.footer__star {
  position: absolute;
  top: 0;
  left: 35%;
  height: 100%;
  opacity: 0.1;
}
.footer__star svg {
  height: 100%;
}
.footer__body {
  position: relative;
  padding: 6rem 0 3.125rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__main-thing {
  margin-bottom: 3.125rem;
}
.footer__links {
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.0625rem;
}
.footer__copyright {
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
}

.contact:not(:last-child) {
  margin-bottom: 4rem;
}
.contact__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.contact__contact {
  font-size: 2rem;
  font-weight: 600;
}

.wrapper {
  transition: all 0.5s ease 0s;
}

.wrapper[data-theme=light] {
  color: #07083C;
  background-color: #fff;
}
.wrapper[data-theme=light] .title {
  color: #7074F9;
}
.wrapper[data-theme=light] .logo__letter {
  fill: #07083C;
}
.wrapper[data-theme=light] .logo:hover .logo__letter {
  fill: #7074F9;
}
.wrapper[data-theme=light] .logo:hover .logo__first-shape {
  fill: #fdb9b9;
}
.wrapper[data-theme=light] .logo:hover .logo__second-shape {
  fill: #b4b6ff;
}
.wrapper[data-theme=light] .header__color-light {
  opacity: 1;
}
.wrapper[data-theme=light] .header__color-dark {
  opacity: 0;
}
.wrapper[data-theme=light] .intro__blobs-light, .wrapper[data-theme=light] .services__blobs-light {
  opacity: 1;
}
.wrapper[data-theme=light] .intro__blobs-dark, .wrapper[data-theme=light] .services__blobs-dark {
  opacity: 0;
}
.wrapper[data-theme=light] .intro__star, .wrapper[data-theme=light] .services__star {
  opacity: 0;
}
.wrapper[data-theme=light] .theme-button:hover {
  outline: 2px solid #9A9DFF;
}
.wrapper[data-theme=light] .theme-button__themes {
  transform: translateY(0);
}
.wrapper[data-theme=light] .footer {
  background-color: #07083C;
}
.wrapper[data-theme=light] .footer__star path {
  color: #7074F9;
}
.wrapper[data-theme=light] .accent {
  color: #7074F9;
}

.wrapper[data-theme=dark] {
  color: #fff;
  background-color: #07083C;
}
.wrapper[data-theme=dark] .title {
  color: #fff;
}
.wrapper[data-theme=dark] .logo__letter {
  fill: #fff;
}
.wrapper[data-theme=dark] .logo:hover .logo__letter {
  fill: #7074F9;
}
.wrapper[data-theme=dark] .logo:hover .logo__first-shape {
  fill: #fdb9b9;
}
.wrapper[data-theme=dark] .logo:hover .logo__second-shape {
  fill: #b4b6ff;
}
.wrapper[data-theme=dark] .header__color-light {
  opacity: 0;
}
.wrapper[data-theme=dark] .header__color-dark {
  opacity: 1;
}
.wrapper[data-theme=dark] .intro__blobs-light, .wrapper[data-theme=dark] .services__blobs-light {
  opacity: 0;
}
.wrapper[data-theme=dark] .intro__blobs-dark, .wrapper[data-theme=dark] .services__blobs-dark {
  opacity: 1;
}
.wrapper[data-theme=dark] .intro__star, .wrapper[data-theme=dark] .services__star {
  opacity: 1;
}
.wrapper[data-theme=dark] .theme-button:hover {
  outline: 2px solid #F2F3F9;
}
.wrapper[data-theme=dark] .theme-button__themes {
  transform: translateY(-100%);
}
.wrapper[data-theme=dark] .footer {
  background-color: #7074F9;
}
.wrapper[data-theme=dark] .footer__star path {
  fill: #fff;
}
.wrapper[data-theme=dark] .footer__button {
  background-color: #FF7974;
}
.wrapper[data-theme=dark] .footer .swipe-link__fake {
  color: #FF7974;
}
.wrapper[data-theme=dark] .case:hover {
  box-shadow: 0px 10px 60px 12px rgba(255, 255, 255, 0.2);
}

.theme-button {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 2rem;
  border-radius: 30%;
  transition: outline 0.3s ease 0s;
  outline: 2px solid transparent;
}
.theme-button svg {
  width: 1.625rem;
}
.theme-button .moon {
  stroke: #07083C;
  transition: stroke 0.3s;
}
.theme-button .stars {
  fill: #7074F9;
  transition: stroke 0.3s;
}
.theme-button:hover:before {
  transform: scaleX(1);
}
.theme-button__themes {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
}
.theme-button__light, .theme-button__dark {
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  transition: box-shadow 0.5s;
}
.theme-button__grad {
  background: linear-gradient(0deg, rgba(141, 141, 168, 0.2) 0%, #fff 100%);
}
.theme-button__light {
  background-color: #fff;
}
.theme-button__light:hover {
  box-shadow: inset 3em 0 0 0.09px #F2F3F9;
}
.theme-button__dark {
  background-color: rgba(141, 141, 168, 0.2);
}
.theme-button__dark:hover {
  box-shadow: inset 3em 0 0 0.09px #07083C;
}